In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pprint
import psycopg2

In [2]:
# Import CSV files
csvfile = "DataFiles/SAEXP1.csv"
csvfile2 = "DataFiles/csvData.csv"
us_expenditures = pd.read_csv(csvfile)
state_abbr = pd.read_csv(csvfile2)

In [3]:
us_expenditures.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object')

In [4]:
# change year columns to row and keep only columns needed
us_expenditures_df = us_expenditures.melt(id_vars=['GeoFIPS', 'GeoName','Description'],value_vars=['1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'], var_name="Year")
us_expenditures_df

,GeoFIPS,GeoName,Description,Year,value
0,"""00000""",United States,Personal consumption expenditures,1997,5534091.8
1,"""00000""",United States,Goods,1997,2003807.2
2,"""00000""",United States,Durable goods,1997,715529.6
3,"""00000""",United States,Motor vehicles and parts,1997,293082.5
4,"""00000""",United States,Furnishings and durable household equipment,1997,160490.2
...,...,...,...,...,...
33207,"""98000""",Far West,Less: Receipts from sales of goods and serv...,2019,236897.2
33208,Note: See the included footnote file.,NaN,NaN,2019,NaN
33209,SAEXP1: Total personal consumption expenditure...,NaN,NaN,2019,NaN
33210,"Last updated: October 8, 2020-- new PCE by sta...",NaN,NaN,2019,NaN
33211,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,2019,NaN

In [5]:
#remove quotes from GeoGIPS
us_expenditures_df['GeoFIPS']=us_expenditures_df['GeoFIPS'].str.replace('"','')

In [6]:
#remove NAN rows
us_expend = us_expenditures_df[us_expenditures_df['GeoName'].notna()]
us_expend

,GeoFIPS,GeoName,Description,Year,value
0,00000,United States,Personal consumption expenditures,1997,5534091.8
1,00000,United States,Goods,1997,2003807.2
2,00000,United States,Durable goods,1997,715529.6
3,00000,United States,Motor vehicles and parts,1997,293082.5
4,00000,United States,Furnishings and durable household equipment,1997,160490.2
...,...,...,...,...,...
33203,98000,Far West,Financial services and insurance,2019,210726.1
33204,98000,Far West,Other services,2019,220767.1
33205,98000,Far West,Final consumption expenditures of nonprofit ...,2019,88265.6
33206,98000,Far West,Gross output of nonprofit institutions,2019,325162.7
33207,98000,Far West,Less: Receipts from sales of goods and serv...,2019,236897.2

In [7]:
# rename columns
us_expenditures_final = us_expend.rename(columns ={'GeoFIPS':'geofips', 'GeoName':'geoname','Description':'description','Year':'year','value':'dollars'})
us_expenditures_final

,geofips,geoname,description,year,dollars
0,00000,United States,Personal consumption expenditures,1997,5534091.8
1,00000,United States,Goods,1997,2003807.2
2,00000,United States,Durable goods,1997,715529.6
3,00000,United States,Motor vehicles and parts,1997,293082.5
4,00000,United States,Furnishings and durable household equipment,1997,160490.2
...,...,...,...,...,...
33203,98000,Far West,Financial services and insurance,2019,210726.1
33204,98000,Far West,Other services,2019,220767.1
33205,98000,Far West,Final consumption expenditures of nonprofit ...,2019,88265.6
33206,98000,Far West,Gross output of nonprofit institutions,2019,325162.7
33207,98000,Far West,Less: Receipts from sales of goods and serv...,2019,236897.2

In [8]:
us_expenditures_final.dtypes
#convert year into datetime
us_expenditures_final['year'] = pd.to_datetime(us_expenditures_final['year'],format = '%Y').dt.year

In [9]:
us_expenditures_final.dtypes
us_expenditures_final.head()

,geofips,geoname,description,year,dollars
0,00000,United States,Personal consumption expenditures,1997,5534091.8
1,00000,United States,Goods,1997,2003807.2
2,00000,United States,Durable goods,1997,715529.6
3,00000,United States,Motor vehicles and parts,1997,293082.5
4,00000,United States,Furnishings and durable household equipment,1997,160490.2

In [10]:
#new dataframe
#new_df = us_expenditures_final.loc[us_expenditures_final['year'] >= 2010]
#new_df

In [10]:
state_abbr.columns
#rename columns
state_df = state_abbr.rename(columns = {'State':'geoname', 'Code':'code'})
# keep only columns needed
state_df2 = state_df[['geoname', 'code']]
state_df2.head()

      geoname code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [11]:
# merge dataframes
us_spend_df = pd.merge(state_df2, us_expenditures_final, on="geoname")
us_spend_df

,geoname,code,geofips,description,year,dollars
0,Alabama,AL,01000,Personal consumption expenditures,1997,74340.3
1,Alabama,AL,01000,Goods,1997,30295.9
2,Alabama,AL,01000,Durable goods,1997,10102.1
3,Alabama,AL,01000,Motor vehicles and parts,1997,4891.9
4,Alabama,AL,01000,Furnishings and durable household equipment,1997,2221.4
...,...,...,...,...,...,...
28699,United States,US,00000,Financial services and insurance,2019,1176055.2
28700,United States,US,00000,Other services,2019,1221795.0
28701,United States,US,00000,Final consumption expenditures of nonprofit ...,2019,439156.4
28702,United States,US,00000,Gross output of nonprofit institutions,2019,1658090.8
28703,United States,US,00000,Less: Receipts from sales of goods and serv...,2019,1218934.4

In [12]:
# remove white space at the beginning of string
us_spend_df['description'] = us_spend_df['description'].str.strip()

us_spend_df

,geoname,code,geofips,description,year,dollars
0,Alabama,AL,01000,Personal consumption expenditures,1997,74340.3
1,Alabama,AL,01000,Goods,1997,30295.9
2,Alabama,AL,01000,Durable goods,1997,10102.1
3,Alabama,AL,01000,Motor vehicles and parts,1997,4891.9
4,Alabama,AL,01000,Furnishings and durable household equipment,1997,2221.4
...,...,...,...,...,...,...
28699,United States,US,00000,Financial services and insurance,2019,1176055.2
28700,United States,US,00000,Other services,2019,1221795.0
28701,United States,US,00000,Final consumption expenditures of nonprofit in...,2019,439156.4
28702,United States,US,00000,Gross output of nonprofit institutions,2019,1658090.8
28703,United States,US,00000,Less: Receipts from sales of goods and service...,2019,1218934.4

In [14]:
description = us_spend_df['description'].unique()
description

array(['Personal consumption expenditures', 'Goods', 'Durable goods',
       'Motor vehicles and parts',
       'Furnishings and durable household equipment',
       'Recreational goods and vehicles', 'Other durable goods',
       'Nondurable goods',
       'Food and beverages purchased for off-premises consumption',
       'Clothing and footwear', 'Gasoline and other energy goods',
       'Other nondurable goods', 'Services',
       'Household consumption expenditures (for services)',
       'Housing and utilities', 'Health care', 'Transportation services',
       'Recreation services', 'Food services and accommodations',
       'Financial services and insurance', 'Other services',
       'Final consumption expenditures of nonprofit institutions serving households (NPISHs)',
       'Gross output of nonprofit institutions',
       'Less: Receipts from sales of goods and services by nonprofit institutions'],
      dtype=object)

In [15]:
# Import Postgress credentials from config.py
from config import username
from config import password

In [16]:
#url = f'postgresql://{username}:{password}@localhost:5432/project2'
# URL for ElephantSQL database
url = f'postgresql://{username}:{password}@fanny.db.elephantsql.com:5432/kwwhumda'

# Create an engine object.
engine = create_engine(url, echo=True)

# Create database if it does not exist.
if not database_exists(engine.url):
    create_database(engine.url)
    connection = engine.connect()
else:
    # Connect the database if exists.
    connection = engine.connect()

2021-10-29 11:10:31,560 INFO sqlalchemy.engine.Engine select version()
2021-10-29 11:10:31,563 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-29 11:10:31,564 INFO sqlalchemy.engine.Engine select current_schema()
2021-10-29 11:10:31,565 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-29 11:10:31,566 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-10-29 11:10:31,567 INFO sqlalchemy.engine.Engine [raw sql] {}

In [17]:
#connection = engine.connect()
#engine = create_engine('sqlite:///DataFiles/us_spend.sqlite', echo=False)

In [18]:
# save the data into sqlite
us_spend_df.to_sql('us_spend_df', con=engine, if_exists='replace')

2021-10-29 11:10:31,705 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-29 11:10:31,705 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'name': 'us_spend_df'}
2021-10-29 11:10:31,713 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-29 11:10:31,714 INFO sqlalchemy.engine.Engine [cached since 0.009398s ago] {'name': 'us_spend_df'}
2021-10-29 11:10:31,717 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-10-29 11:10:31,718 INFO sqlalchemy.engine.Engine [generated in 0.00154s] {'schema': 'public'}
2021-10-29 11:10:31,727 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2021-10-29 11:10:31,728 INFO sqlalchemy.engine.Engine [generated in 0.00101s] {'table_name': 'us_spend_df'}
2021-10-29 11:10:31,731 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2021-10-29 11:10:31,731 INFO sqlalchemy.engine.Engine [generated in 0.00101s] {'table_oid': 25349}
2021-10-29 11:10:31,751 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2021-10-29 11:10:31,752 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {}
2021-10-29 11:10:31,758 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2021-10-29 11:10:31,759 INFO sqlalchemy.engine.Engine [generated in 0.00124s] {}
2021-10-29 11:10:31,766 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2021-10-29 11:10:31,767 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {'table_oid': 25349}
2021-10-29 11:10:31,774 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2021-10-29 11:10:31,775 INFO sqlalchemy.engine.Engine [generated in 0.00099s] {'table_oid': 25349}
2021-10-29 11:10:31,784 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2021-10-29 11:10:31,784 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {'table': 25349}
2021-10-29 11:10:31,790 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2021-10-29 11:10:31,791 INFO sqlalchemy.engine.Engine [generated in 0.00173s] {'table_oid': 25349}
2021-10-29 11:10:31,799 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2021-10-29 11:10:31,800 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {'table_oid': 25349}
2021-10-29 11:10:31,802 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2021-10-29 11:10:31,804 INFO sqlalchemy.engine.Engine [generated in 0.00156s] {'table_oid': 25349}
2021-10-29 11:10:31,806 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2021-10-29 11:10:31,809 INFO sqlalchemy.engine.Engine [generated in 0.00260s] {'table_oid': 25349}
2021-10-29 11:10:31,811 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-29 11:10:31,812 INFO sqlalchemy.engine.Engine
DROP TABLE us_spend_df
2021-10-29 11:10:31,812 INFO sqlalchemy.engine.Engine [no key 0.00076s] {}
2021-10-29 11:10:31,861 INFO sqlalchemy.engine.Engine COMMIT
2021-10-29 11:10:31,875 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-29 11:10:31,877 INFO sqlalchemy.engine.Engine
CREATE TABLE us_spend_df (
	index BIGINT,
	geoname TEXT,
	code TEXT,
	geofips TEXT,
	description TEXT,
	year BIGINT,
	dollars FLOAT(53)
)


2021-10-29 11:10:31,879 INFO sqlalchemy.engine.Engine [no key 0.00221s] {}
2021-10-29 11:10:31,902 INFO sqlalchemy.engine.Engine CREATE INDEX ix_us_spend_df_index ON us_spend_df (index)
2021-10-29 11:10:31,903 INFO sqlalchemy.engine.Engine [no key 0.00125s] {}
2021-10-29 11:10:31,914 INFO sqlalchemy.engine.Engine COMMIT
2021-10-29 11:10:31,937 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-29 11:10:32,197 INFO sqlalchemy.engine.Engine INSERT INTO us_spend_df (index, geoname, code, geofips, description, year, dollars) VALUES (%(index)s, %(geoname)s, %(code)s, %(geofips)s, %(description)s, %(year)s, %(dollars)s)
2021-10-29 11:10:32,198 INFO sqlalchemy.engine.Engine [generated in 0.22683s] ({'index': 0, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Personal consumption expenditures', 'year': 1997, 'dollars': 74340.3}, {'index': 1, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Goods', 'year': 1997, 'dollars': 30295.9}, {'index': 2, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Durable goods', 'year': 1997, 'dollars': 10102.1}, {'index': 3, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Motor vehicles and parts', 'year': 1997, 'dollars': 4891.9}, {'index': 4, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Furnishings and durable household equipment', 'year': 1997, 'dollars': 2221.4}, {'index': 5, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Recreational goods and vehicles', 'year': 1997, 'dollars': 1907.8}, {'index': 6, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Other durable goods', 'year': 1997, 'dollars': 1081.0}, {'index': 7, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Nondurable goods', 'year': 1997, 'dollars': 20193.8}  ... displaying 10 of 28152 total bound parameter sets ...  {'index': 28150, 'geoname': 'Wyoming', 'code': 'WY', 'geofips': ' 56000', 'description': 'Gross output of nonprofit institutions', 'year': 2019, 'dollars': 2920.4}, {'index': 28151, 'geoname': 'Wyoming', 'code': 'WY', 'geofips': ' 56000', 'description': 'Less: Receipts from sales of goods and services by nonprofit institutions', 'year': 2019, 'dollars': 2331.6})
2021-10-29 11:10:33,121 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
engine.execute("SELECT count(*) from us_spend_df").fetchall()

2021-10-29 11:10:33,135 INFO sqlalchemy.engine.Engine SELECT count(*) from us_spend_df
2021-10-29 11:10:33,137 INFO sqlalchemy.engine.Engine [raw sql] {}

[(28152,)]

In [20]:
us_spend_df.to_csv('DataFiles/us_spend.csv',index=False)